.flex-container {
    display: flex;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
}

.flex-container.flex-direction-row {
    flex-direction: row;
}

.flex-container.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-container.flex-direction-column {
    flex-direction: column;
}

.flex-container.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-item {
    background: #eeeeee;
    padding: 20px;
    border: 2px solid #000;
}
